@model IEnumerable<MVCFoodApp.Models.Food>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- Yemekler Bölümü-->
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Yemekler Bölümü Başlığı-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">YEMEK TARİFLERİ</h2>
        <!-- Simge Ayırıcı-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Yemek Tablosu Öğeleri-->
        <div class="row justify-content-center">
            @foreach (var item in Model)
            {
                <!-- Yemek -->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#@item.FoodShortName">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">@item.FoodTitle</div>
                        </div>
                        <img class="img-fluid" src="@item.FoodImage" alt="..." />
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<!-- Yemekler İçerik-->
@foreach (var item in Model)
{
<div class="portfolio-modal modal fade" id="@item.FoodShortName" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Yemekler Başlık-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">@item.FoodTitle</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" src="@item.FoodImage" alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">@item.FoodContent</p>
                            <button class="btn btn-primary" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Kapat
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}

